{% extends "base.html.twig" %}

{% block Title %}
    HandCoachIn
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts_header %}
{% endblock %}

{% block body %}

    <main class="container">
        <header>
            <nav><div class="logo">HandCoachIn</div></nav>
        </header>
        <section>
            <article>
                <p>
                    Les statistiques, ça vous fait penser à des choses qu'on imaginerait jamais autrement.
                </p>
                <em>Keith Ridgway</em>
            </article>
            <article>
                <div>
                    <p>ici une courte présentation</p>
                    <div>stats equipe</div>
                    <div>stats joueur</div>
                    <div>stats match</div>
                </div>
            </article>
        </section>
        <footer><div>ici mon footer avec un recap classic</div></footer>
    </main>

{% endblock %}

{% block javascripts_footer %}
{% endblock %}
